@import "reset";
@import "popups";
.test-btn{
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  margin: 20px auto;
}
